<html>
    <head>
        {{!-- Animations CSS --}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link rel="stylesheet" href="./style/css/landing.css">
    </head>
    <body>
        <div class="container-fluid text-center">

            <div class="row justify-content-center" id="titleRow">
                <div class="col">
                    <div id="first">TAYLOR PAYNE</div>
                    <div id="second">computer scientist</div>
                    <div id="second">graphic designer</div>
                </div>
            
            <div class="row content justify-content-center" id="resumeButton">
                <a style="text-decoration: none;" href="./pdf/TaylorPayneResume.pdf" download="TaylorPayneResume">
                    <div class="col">
                        <div id="third">Resume</div>
                    </div>
                </a>
            </div>

            <div class="row contentjustify-content-center" id="transcriptButton">
                <a style="text-decoration: none" href="./pdf/Transcript.pdf" download="Transcript">
                    <div class="col">
                        <div id="third">Transcript</div>
                    </div>
                </a>
            </div>

            <div class="row content justify-content-center" id="githubButton">
                <a style="text-decoration: none" href="https://github.com/mentaldropouts">
                    <div class="col">
                            <div id="third">Git Hub</div>
                    </div>
                </a>
            </div>

             <div class="row content justify-content-center" id="linkedinButton">
                <a style="text-decoration: none" href="https://www.linkedin.com/in/taylorpaynedev/">
                    <div class="col">
                        <div id="third">Linkedin</div>
                    </div>
                </a>
            </div>
        
            <div class="row content justify-content-center" id="instagramButton">
                <a style="text-decoration: none" href="https://www.instagram.com/mentaldropouts/?hl=en">
                    <div class="col">
                        <div id="third">Instagram</div>
                    </div>
                </a>
            </div>

            {{!-- Black Footer --}}
            <div class="row content justify-content-center">
                <div class="col">
                </div>
            </div>


        </div>
    </body>
</html>