<html>
  <head>
        {{!-- Animations CSS --}}
         <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        {{!-- Manual CSS --}}
        <link type="text/css" rel="stylesheet" href="./style/css/landing.css">
        <style>
            .center{
                align-items: center;
                align-self: center;
                align-content: center;
            }
        </style>
</head>
<div class="row">

<div class="col-2"></div>

    <div class="col-4">
        <div class="imgFrame"><img class="img" src='inception.png'></img></div>
        <div class="imgFrame"><img class="img" src='ohNo.png'></img></div>
        <div class="imgFrame"><img class="img" src='large.png'></img></div>
    </div>

    <div class="col-4">
        <div class="imgFrame"><img class="img" src='lostBoy.png'></img></div>
        <div class="imgFrame"><img class="img" src='pallasLee.png'></img></div>
        <div class="imgFrame"><img class="img" src='insom.jpg'></img></div>
    </div>
    
<div class="col-2"></div>
</div>        


{{!-- Using a grid based approach --}}
<ul class="grid-container">    
    <div class='item1'>
        <div class="imgFrame"><img class="img" src='inception.png'></img></div>
    </div>
    <div class="item2">
        <div class="imgFrame"><img class="img" src='pallasLee.png'></img></div>
    </div>
    <div class="item3">
         <div class="imgFrame"><img class="img" src='ohNo.png'></img></div>
    </div>
    <div class="item4">
        <div class="imgFrame"><img class="img" src='insom.jpg'></img></div>
    </div>
</ul>

</html>