.img {
    max-width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.imgFrame {
    padding-left: 5px;
    padding-right: 5px;
    height:auto;
    padding-top: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.imgButton {
    border: none;
    cursor: pointer;
    background-color: inherit;
    transition: transform .70s ease-in-out;  
    max-width: inherit;
    height:auto;
    padding: 0px;
    align-items:inherit;

}
