/* Setting Row to Global */
#titleRow{
  background-color: black;
}
#resumeButton{
  background-color: rgb(255, 250, 93);
}

#transcriptButton{
  background-color: rgb(255, 200, 93)
}

#githubButton{
  background-color: rgb(255, 150, 93);
}

#linkedinButton{
  background-color: rgb(255, 100, 93)
}


#instagramButton{
  background-color: rgb(255, 50, 93);
}