/* Root Variables */
:root {
    --primary_background: #FFFFF3;
    --first_size: 8vw;
    --secondSubHead_size: 3vw;
    --second_size: 4vw;
    --third_size: 10vw;
}

/* Global Styles */
html, body {
    background-color: var(--primary_background);
    width: 100%;
    height: 100%;
}

a {
    height: inherit;
    width: 100%;
}

.sep {
    height: fit-content;
    width: 100%;
    color: black;
}

.mainContainer {
    padding: 1%;
    height: fit-content;
    float: none;
    position: relative;
    align-items: center;
    background-color: var(--primary_background);
}

.secContainer {
    display: flex;
    height: fit-content;
    position: relative;
    text-align: left;
    background-color: whitesmoke;
}

.titleCont {
    display: inline-box;
}

/* Fonts and Text Styles */
#first {
    font-family: 'aeroportmono', monospace;
    font-size: var(--first_size);
    padding: 0 5%;
    letter-spacing: 34;
    text-align: center;
}

#second{
    padding: 0 5%;
    text-align: center;
}

#second {
    font-size: var(--secondSubHead_size);
}

#secondDesc {
    font-size: var(--second_size);
    text-align: left;
    padding: 5%;
}

#third {
    font-family: 'Source Code Pro', monospace;
    font-size: var(--third_size);
    position: relative;
    width: 100%;
    padding: 0 5%;
    text-decoration: none;
    color: black;
    text-align: center;
}

#third:hover {
    color: white;
    transition: color 50ms ease-out 10ms;
}

/* Layouts */
.row {
    box-sizing: border-box;
    min-width: 100%;
}

.footer {
    margin-top: auto;
    background-color: var(--primary_background);
    height: 10%;
    width: 100%;
}

/* Responsive Designs */
@media only screen and (min-width: 600px) {
    #first, #second, #secondDesc {
        text-align: justify;
    }
    #first {
        font-size: 6vw;
    }
    #second {
        font-size: 3vw;
    }
    #secondDesc {
        font-size: 2.5vw;
    }
    #third {
        font-size: 6vw;
    }
}

@media only screen and (min-width: 768px) {
    #first, #second, #secondDesc, #third {
        text-align: justify;
    }
    #first {
        font-size: 6vw;
    }
    #second {
        font-size: 3vw;
    }
    #secondDesc {
        font-size: 2vw;
    }
    #third {
        font-size: 6vw;
    }
    #third:hover {
        padding-left: 10%;
        transition: padding-left 100ms ease-out 30ms;
    }
}
