/* Root Variables */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

:root{
    --bg: #fff;
    --text: #000;
    --red: linear-gradient(to right,var(--rrGrad));
    --first_size: 8vw;
    --secondSubHead_size: 3vw;
    --second_size: 3vw;
    --third_size: 5vw;

}

/* Global Styles */
html, body {
    background-color: var(--bg);
    color: var(--text);
    color: var(--text);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body.dark-mode{
  background-color: #0A0A0A;
  color: #fff;
}

head {
    height: 0;
    width: 0;
    overflow: hidden;
}

a {
    height: inherit;
    width: 100%;
}

.sep {
    margin: 10px;
    height: fit-content;
    width: 100%;
    color: black;
}

.mainContainer {
    /* Sticking it the top of the page     */
    top: 0;
    padding-left: 3%;
    padding-right: 3%;
    height: fit-content;
    align-items: center;
    background-color: var(--bg);
    
}

.secContainer {
    /* display: flex; */
    height: fit-content;
    width: fit-content;
    position: relative;
    text-align: left;
    background-color: var(--bg);
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

/* Fonts and Text Styles */
#first {
    font-family: 'aeroportmono', monospace;
    font-size: var(--first_size);
    padding: 0 5%;
    letter-spacing: 0;
    text-align: center;
}

#second{
    padding: 0 5%;
    text-align: center;
}

#second {
    font-size: var(--secondSubHead_size);
}

#secondDesc {
    font-size: var(--second_size);
    text-align: left;
}

#third {
    font-family: 'Source Code Pro', monospace;
    font-size: var(--third_size);
    position: relative;
    width: 100%;
    padding: 0 5%;
    text-decoration: none;
    color: var(--text);
    text-align: center;
}

#third:hover {
    color: white;
    transition: color 50ms ease-out 10ms;
}

.card {
   /* background-image: linear-gradient(to right,var(--roGrad)); */
   color: white;

}
#ProjectTitle {
    font-family: 'Source Code Pro', monospace;
    font-size: 5vw;
    width: 100%;
    padding: 3% 5%;
    text-decoration: none;
    color: black;
    margin-top: auto;
    margin-bottom: auto;

}

/* Layouts */
.row {
    /* box-sizing: border-box; */
    min-width: 100%;
    color:#fff;
}

.footer {
    margin-top: auto;
    background-color: var(--bg);
    width: 100%;
    content: '';
}

/* Responsive Designs */
@media only screen and (min-width: 600px) {
    #first, #second, #secondDesc {
        text-align: justify;
    }
    #first {
        font-size: 6vw;
    }
    #second {
        font-size: var(--second_size);
    }
    #secondDesc {
        font-size: 2.5vw;
    }
    #third {
        font-size: 5vw;
    }
}

@media only screen and (min-width: 768px) {
    #first, #second, #secondDesc, #third {
        text-align: justify;
    }
    #first {
        font-size: 6vw;
    }
    #second {
        font-size: var(--second_size);
    }
    #secondDesc {
        font-size: 2vw;
    }
    #third {
        font-size: 5vw;
    }
    #third:hover {
        padding-left: 10%;
        transition: padding-left 100ms ease-out 30ms;
    }
}


