:root {
  --button_height: 6vw;
  --bg: #0A0A0A;
  --text: #fff;
  --yyGrad: rgb(255, 200, 93), rgb(255, 250, 93);
  --yoGrad:  rgb(255, 150, 93), rgb(255, 200, 93);
  --roGrad:  rgb(255, 100, 93), rgb(255, 150, 93);
  --rrGrad: rgb(255, 50, 93), rgb(255, 100, 93);
  --drrGrad: rgb(255,0,93), rgb(255, 50, 93);
}

body {
  background-color: var(--bg);
  color: #fff;
}

#resumeButton{
  background-color: var(--bg);
  min-height: var(--button_height);
  color:var(--text);
}

#resumeButton:hover{
  /* background-image: linear-gradient(to right,var(--yyGrad)); */
  background-image: linear-gradient(to right,var(--rrGrad));

}

#transcriptButton{
  background-color: var(--bg);
  min-height: var(--button_height);
  color:var(--text);

}

#transcriptButton:hover{
  /* background-image: linear-gradient(to right,var(--yoGrad)); */
  background-image: linear-gradient(to right,var(--rrGrad));

}

#githubButton{
  background-color: var(--bg);
  min-height: var(--button_height);
  color:var(--text);

}

#githubButton:hover{
  background-image: linear-gradient(to right,var(--rrGrad));
}

#linkedinButton{
  background-color: var(--bg);
  min-height: var(--button_height);
  color:var(--text);

}

#linkedinButton:hover{
  /* background-image: linear-gradient(to right,var(--rrGrad)); */
  background-image: linear-gradient(to right,var(--rrGrad));

}

#EmailButton{
  background-color: var(--bg);
  min-height: var(--button_height);
  color:var(--text);

}

#EmailButton:hover{
  /* background-image: linear-gradient(to right,var(--drrGrad)); */
  background-image: linear-gradient(to right,var(--rrGrad));

}


/* Color Blocks */
.boxV{
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  /* background-color: blue; */
  content: ' ';
}

.lineOutV{
 width: 33.3%;
 height: 100%;
 gap: 0;
 display: inline-block;
 /* background-image: linear-gradient(to bottom,var(--yyGrad)); */
 background-image: linear-gradient(to bottom,var(--rrGrad));
}

.lineMidV{
 width: 33.3%;
 height: 100%;
 display: inline-block;
 /* background-image: linear-gradient(to bottom,var(--roGrad)); */
 background-image: linear-gradient(to bottom,var(--rrGrad)); 
}

.lineInnV{
 width: 33.3%;
 height: 100%;
 display: inline-block;
 background-image: linear-gradient(to bottom,var(--rrGrad));
}


