:root {
  --button_height: 6vw;
  --primary_background: #FFFFF3;
  --yyGrad: rgb(255, 200, 93), rgb(255, 250, 93);
  --yoGrad:  rgb(255, 150, 93), rgb(255, 200, 93);
  --roGrad:  rgb(255, 100, 93), rgb(255, 150, 93);
  --rrGrad: rgb(255, 50, 93), rgb(255, 100, 93);
  --drrGrad: rgb(255,0,93), rgb(255, 50, 93);
}
#resumeButton{
  background-color: var(--primary_background);
  min-height: var(--button_height);
}

#resumeButton:hover{
  background-image: linear-gradient(to right,var(--yyGrad));
}

#transcriptButton{
  background-color: var(--primary_background);
  min-height: var(--button_height);
}

#transcriptButton:hover{
  background-image: linear-gradient(to right,var(--yoGrad));
}

#githubButton{
  background-color: var(--primary_background);
  min-height: var(--button_height);
}

#githubButton:hover{
  background-image: linear-gradient(to right,var(--roGrad));
}

#linkedinButton{
  background-color: var(--primary_background);
  min-height: var(--button_height);
}

#linkedinButton:hover{
  background-image: linear-gradient(to right,var(--rrGrad));
}

#EmailButton{
  background-color: var(--primary_background);
  min-height: var(--button_height);
}

#EmailButton:hover{
  background-image: linear-gradient(to right,var(--drrGrad));
}


/* Color Blocks */
.boxV{
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  background-color: blue;
  content: ' ';
}

.lineOutV{
 width: 33.3%;
 height: 100%;
 gap: 0;
 display: inline-block;
 background-image: linear-gradient(to bottom,var(--yyGrad));
}

.lineMidV{
 width: 33.3%;
 height: 100%;
 display: inline-block;
 background-image: linear-gradient(to bottom,var(--roGrad));
}

.lineInnV{
 width: 33.3%;
 height: 100%;
 display: inline-block;
 background-image: linear-gradient(to bottom,var(--rrGrad));
}


